body
{
    font-family: Arial, Helvetica, sans-serif;
}

.gradient-red-to-blue
{
    background: linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-blue-to-darkblue
{
    background: linear-gradient(#00ddff, #0400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.gradient-red-to-blue-bg
{
    background: linear-gradient(#e66465, #9198e5);
    padding: 10px;
}

.gradient-blue-to-darkblue-bg
{
    background: linear-gradient(#00ddff, #0400ff);
    padding: 10px;
}

/* Marks */
mark
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mark-cyan
{
    background: cyan;
}

.mark-blue
{
    background: blue;
    color: white;
}

.mark-red
{
    background: red;
}

.mark-green
{
    background: green;
    color: white;
}

.mark-light-green
{
    background: yellowgreen;
}

.button, .button-hover-effect-black, .button-hover-effect-blue
{
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--black);
    padding: 8px 32px;
    border-radius: 2px;
    outline: 2px solid var(--black);
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5), box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.5);
    width: fit-content;
    background: var(--white);
    margin: 8px 0 8px 0;
    border-radius: 5px;
}

.button-hover-effect-black:hover
{
    background-color: black;
    border-color: white;
    color: white;
}

.button-hover-effect-blue:hover
{
    background-color: blue;
    border-color: white;
    color: white;
}



.warning
{
    background-color: yellow;
    padding: 10px;
    color: black; 
}

.warning-border-radius
{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.nav-bar-white
{
    background-color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-black
{
    background-color: #333;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-blue
{
    background-color: blue;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-option-btn-white
{
    background-color: rgb(211, 211, 211);
    padding: 7px;
    text-decoration-line: none;
    border-radius: 5px;
}

.nav-bar-option-light
{
    display: flex;
    align-items: center;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav-bar-option-dark
{
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.nav-logo
{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-right: 10px;
}


h1 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

h2 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

h3 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

h4 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

h5 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

h6 .badge
{
    background-color: rgba(174, 167, 167, 0.844);
    padding: 7px;
    border-radius: 10px;
}

.accordion
{
    background-color: rgb(197, 196, 196);
    padding: 5px;
}

.accordion-open
{
    cursor: pointer;
}

.accordion-item
{
    padding: 2.5px;
}

.card
{
    background-color: rgb(197, 196, 196);
    padding: 10px;
    text-align: center; 
    align-items: center;
}

.rating
{
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 10px;  
    text-align: center; 
}

.accordion-drk
{
    background-color: rgb(43, 43, 43);
    padding: 5px;
}

.card-drk
{
    background-color: rgb(43,43,43);
    color: white;
    padding: 10px;
    text-align: center; 
    align-items: center;
}

.center-txt
{
    text-align: center;
}

.border-radius-10px
{
    border-radius: 10px;
}

.border-radius-5px
{
    border-radius: 10px;
}

.border-radius-20px
{
    border-radius: 10px;
}

.border-radius-circle
{
    border-radius: 100%;
}

.txt-blue
{
    color: #0400ff;
}

.txt-lightblue
{
    color: #add8e6;
}

.txt-red
{
    color: #ff0000;
}

.txt-black
{
    color: #000;
}

.txt-white
{
    color: #ffff;
}

.bold
{
    font-weight: bold;
}

.yellow-bg
{
    background-color: #ddff00;
    padding: 5px;
}

.blue-bg
{
    background-color: #1900ff;
}

.lightgreen-bg
{
    background-color: #37ff00;
}

.green-bg
{
    background-color: #2aa700;
    padding: 1px;
}

.small-number-input
{
    width: 30px;
}

.normal-number-input
{
    width: 50px;
}

.big-input
{
    width: 230px;   
}

.huge-input
{
    width: 250px;   
}